html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto";
  background-color: #fafafa;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

input[type="text"],
input[type="email"],
textarea {
  border: thin solid #ff9f43;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.gaa-logo {
  filter: grayscale();
}

h3 {
  margin: 0;
}

textarea {
  font-family: inherit;
  resize: none;
}

button,
input[type="submit"],
input[type="reset"] {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0 0;
  display: inline-block;
  background-color: #ffbe76;
  color: #444;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Roboto";
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

form {
  max-width: 500px;
  margin: 0 auto 30px auto;
}

@media screen and (min-width: 1024px) {
  form {
    width: 500px;
    margin: 0px;
  }
}

hr {
  margin: 2rem auto;
}

img {
  height: 8vh;
  margin-top: 8px;
}

label {
  padding: 0.5rem 0;
  margin: 0 0 0.5rem 0;
  display: inline-block;
  color: #444;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

select {
  border: thin solid #dedede;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  display: block;
  width: 100%;
  color: #444;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 auto;
}

th {
  text-align: center;
  padding: 0.5rem;
  border-bottom: thin solid #6ab04c;
}
td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: thin solid #6ab04c;
}

@media screen and (min-width: 1024px) {
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: start;
    gap: 2rem;
  }

  .grid-1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 2rem;
  }
}
